[Unit]
Description=uWSGI instance to serve Web Proxy
After=network.target

[Service]
User=mike
Group=www-data
WorkingDirectory=/home/mike/docs/proxy
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
