{% extends "base.html" %}

{% block header %}
    <br /><br /><br /><br />
{% endblock %}

{% block content %}
    <h1>NoXD Proxy</h1>
    <br />
    <center>
        <form action="" method="post" name="proxy">
            {{ form.hidden_tag() }}
            <p>{{ form.link(size=80) }}</p>
            <br />
            <p><input type="submit" value="Proxy It"></p>
        </form>
    </center>
{% endblock %}

{% block footer %}
    <div class="footer"><a href="https://github.com/MikeRixWolfe/proxy">Source</a></div>
{% endblock %}
